<table class="table">
    <thead>
        <tr>
            <th>Photo</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody ng-repeat="photo in photos">
        <tr>
            <td><img ng-src="/photos/{{photo.value.photo}}"/></td>
            <td>{{photo.value.name}}</td>
            <td>{{photo.value.description}}</td>
            <td><a href="#" class="btn" ng-click="delete(photo.doc)">Delete</a></td>
    </tbody>
</table>

<form novalidate name="form">
    <label>Name</label>
    <input type="text" ng-model="photo.name" required/>
    <label>Description</label>
    <input type="text" ng-model="photo.description" required/>
    <label>File</label>
    <input type="file" data-file="photo.file" required/>
    <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="form.$invalid"><i class="icon-ok"></i>Save</button>
</form>

<!--
<div>{{photos | json}}</div>
<div>{{photo | json}}</div>
<div>----</div>
<div>{{data | json}}</div>
-->